.welcome {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 3em 2em;
	text-align: center;
}

.welcome h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.welcome p {
	font-family: 'Roboto', sans-serif;
}

.welcome a {
	max-width: 350px;
	width: 100%;
	display: block;
	margin: 40px auto 0px;
	background: #417690;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
