{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
		<title>Backend nutlz shop</title>
	</head>
	<body>
		<div class="welcome">
			<div class="container-fluid">
				<div class="row justify-content-md-center">
					<div class="col-md-12 col-xl-12 bd-content">
						<div class="jumbotron">
							<h1 class="display-4">Здравствуйте!</h1>
							<p class="lead">
								Это страница приветствия админ-панели для сайта nutlz.com.
							</p>
							<a class="btn btn-primary btn-lg" href="/admin" role="button"
								>Перейти в админ-панель</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
